
* {
  box-sizing: border-box;
}


/* Game Body */
html, body {
  height: 100%;
}

.jeopardy-game {
  background-color: #222;
  color: white;
  font-size: .75vw;
  text-align: center;
  background: linear-gradient(180deg, #2E2E3A 0%, #0C0C2C 100%);
  height: 100%;
  display: block;
  width: 100%;
}


/* Game Container */
#jeopardy {
  text-align: center;
  font-size: 10pt;
  color: white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;  
  height: 800px;  
  padding-top: 100px;
}

#jeopardy th, #jeopardy td {
  border: solid 1px white;
  background-color:#011BA9;
  width: 400px;
  height: 50px;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  height: 4em;
}

td {
  height: 9em;
  font-family: Copse, serif;
}

td:hover {
  cursor: pointer;
}


/* Reset Button */
#restart {
  background-color:#ebc82c;
}

#restart:hover {
  cursor: pointer;
  background-color: rgb(47, 194, 174); 
}


/* Game Header */
.gameTitle {
color: #ebc82c;
font-family: 'Ultra', serif;
text-align: center;
font-size: 20px;
}


/* Loading Screen */
#loader { 
  border: 12px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 12px solid #444444; 
  width: 70px; 
  height: 70px; 
  animation: spin 1s linear infinite; 
} 

@keyframes spin { 
  100% { 
      transform: rotate(360deg); 
  } 
} 

.center { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto; 